{% extends "index.html" %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="post{% if page.extra.class %} {{ page.extra.class }}{% endif %}">
    <div itemprop="headline">
        <h1>{{ page.title }}</h1>
        <div class="border"></div>
        <div class="post-meta">
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="datePublished">
                {{ page.date | date(format="%d %b %Y") }}
            </time>
            <span class="post-author">{{ page.author | default(value=config.extra.author) }}</span>
            {% if page.reading_time %}
                <span class="post-meta__item">{{ page.reading_time }} min read</span>
            {% endif %}
        </div>
        {% if page.taxonomies %}
            <div class="post-tags">
                {% if page.taxonomies.categories %}
                    <span class="post-tags__label">Categories:</span>
                    {% for cat in page.taxonomies.categories %}
                        <a class="post-tag" href="{{ get_taxonomy_url(kind="categories", name=cat) }}">{{ cat }}</a>
                    {% endfor %}
                {% endif %}
                {% if page.taxonomies.tags %}
                    <span class="post-tags__label">Tags:</span>
                    {% for tag in page.taxonomies.tags %}
                        <a class="post-tag" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if config.extra.audio_base_url and page.slug %}
        <div class="post-audio">
            <audio controls preload="none" src="{{ config.extra.audio_base_url }}/{{ page.slug }}.mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
    {% endif %}
    {% if page.toc and page.toc | length > 0 %}
        <details class="post-toc" aria-label="Table of contents">
            <summary class="post-toc__title">On this page</summary>
            <nav>
                <ul>
                    {% for h in page.toc %}
                        <li>
                            <a href="{{ h.permalink | safe }}">{{ h.title }}</a>
                            {% if h.children and h.children | length > 0 %}
                                <ul>
                                    {% for c in h.children %}
                                        <li><a href="{{ c.permalink | safe }}">{{ c.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </details>
    {% endif %}
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}
